{% extends 'base.html' %}

{% block title %}
Книга "{{ book.book_title }}"
{% endblock %}

{% block content %}
<div class="content-block">
    <div class="book-image-title">
        <img src=" {{ book.book_image }} " class="card-img-top book-image" width="500" height="750">
    </div>
    <div class="book-description">
        <div class="d-flex justify-content-center">
            <div class="card-body">
                <h3 class="card-title">{{ book.book_title }}</h3>
                <p class="card-text text-muted">Автор: {{ book.book_author }}</p>
                <br>
                <h4 class="card-title">Ціна: {{ book.book_price }}.00 ₴</h4>
            </div>
        </div>
        <br>
        <h2>Відгуки</h2>
        <div class="container">
            <div class="d-flex justify-content-center">
                <a type="button" class="link-secondary" style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#feedbackModalForm"><b>Залишити відгук</b></a>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="container-fluid">
                <div id="feedbacks">
                    <div id="loadingBarFeedbacks" class="loadingDiv">
                        <div class="spinner"></div>
                    </div>
                    <div id="noFeedbacksFound" style="display: none;">
                        <p class="text-muted h4 d-flex justify-content-center">Відгуків поки немає</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="book-actions">
        <a id="addToFavoriteButton" onclick="addToFavorite()" class="btn btn-outline-danger me-2" style="text-decoration: none;"><i class="bi bi-heart"></i></a>
        <a href="{{ book.book_url }}" class="btn btn-success">Перейти на сайт з книгою</a>
    </div>
</div>

<div class="modal fade" id="feedbackModalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Поділіться своїми враженнями</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/write_feedback/{{ book.id }}" method="post">
          {% csrf_token %}
          <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <p class="fs-5">Ваша оцінка</p>
                </div>
                <div class="stars d-flex justify-content-center">
                    <input type="radio" id="star1" name="rating" value="5" required>
                    <label for="star1" class="bi bi-star-fill"></label>
                    <input type="radio" id="star2" name="rating" value="4" required>
                    <label for="star2" class="bi bi-star-fill"></label>
                    <input type="radio" id="star3" name="rating" value="3" required>
                    <label for="star3" class="bi bi-star-fill"></label>
                    <input type="radio" id="star4" name="rating" value="2" required>
                    <label for="star4" class="bi bi-star-fill"></label>
                    <input type="radio" id="star5" name="rating" value="1" required>
                    <label for="star5" class="bi bi-star-fill"></label>
                </div>
                <br>
                <div class="form-floating">
                    <textarea class="form-control" id="floatingTextarea" name="feedbackContent" placeholder="Напишіть свій відгук тут..." required></textarea>
                    <label for="floatingTextarea">Текст відгуку:</label>
                </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Залишити відгук</button>
          </div>
      </form>
    </div>
  </div>
</div>
<style>
.stars {
    display: inline-block;
    direction: rtl;
    font-size: 48px;
    cursor: pointer;
}
.stars input {
    display: none;
}
.stars label {
    color: lightgray;
    font-size: 32px;
    cursor: pointer;
}
.stars input:checked ~ label {
    color: gold;
}
.stars label:hover,
.stars label:hover ~ label {
    color: gold;
}
</style>
<script>
const loadingBar = document.getElementById("loadingBarFeedbacks")
const noFeedbacksFound = document.getElementById("noFeedbacksFound")

fetch(`http://127.0.0.1:8000/get_feedbacks_for_book/{{book.id}}`)
.then(response => response.json())
.then(data => {
    const feedbacksDiv = document.getElementById("feedbacks")
    let feedbacks = data["feedbacks"]
    loadingBar.style.display = 'none'
    if (Object.keys(feedbacks).length !== 0) {
        for (const feedbackKey in feedbacks) {
            if (feedbacks.hasOwnProperty(feedbackKey)) {
                const feedback = feedbacks[feedbackKey];

                const cardDivElement = document.createElement("div")
                cardDivElement.className = "card"

                const cardBodyDivElement = document.createElement("div")
                cardBodyDivElement.className = "card-body d-flex justify-content-between align-items-center"

                const feedbackDataDivElement = document.createElement("div")

                const feedbackStarsAmountDivElement = document.createElement("div")
                feedbackStarsAmountDivElement.className = "d-flex align-items-center"

                const authorH5Element = document.createElement("h5")
                authorH5Element.className = "card-title"
                authorH5Element.textContent = feedback.feedback_author

                const textPElement = document.createElement("p")
                textPElement.className = "card-text"
                textPElement.innerHTML = feedback.feedback_text.replace(/\n/g, "<br>")

                const starsSpanElement = document.createElement("span")
                starsSpanElement.textContent = feedback.feedback_stars

                const starsStarIconElement = document.createElement("i")
                starsStarIconElement.className = "bi bi-star-fill text-warning ms-1"

                feedbackStarsAmountDivElement.appendChild(starsSpanElement)
                feedbackStarsAmountDivElement.appendChild(starsStarIconElement)
                feedbackDataDivElement.appendChild(authorH5Element)
                feedbackDataDivElement.appendChild(textPElement)
                cardBodyDivElement.appendChild(feedbackDataDivElement)
                cardBodyDivElement.appendChild(feedbackStarsAmountDivElement)
                cardDivElement.appendChild(cardBodyDivElement)
                feedbacksDiv.appendChild(cardDivElement)
            }
        }
    } else {
        noFeedbacksFound.style.display = "block"
    }
})
.catch(error => {
    console.error('Fetch error:', error);
});


fetch(`http://127.0.0.1:8000/if_favorite/{{book.id}}`)
.then(response => response.json())
.then(data => {
    let ifFavorite = data["if_favorite"];
    const addToFavoriteButton = document.getElementById("addToFavoriteButton")
    if (ifFavorite === 1) {
        addToFavoriteButton.className = "btn btn-outline-secondary me-2";
    } else {
        addToFavoriteButton.className = "btn btn-outline-danger me-2";
    }
})
.catch(error => {
    console.error('Fetch error:', error);
});


function addToFavorite() {
    fetch(`http://127.0.0.1:8000/add_to_favorite/{{ book.id }}`)
    .then(response => response.json())
    .then(data => {
        let ifFavorite = data["if_favorite"];
        const addToFavoriteButton = document.getElementById("addToFavoriteButton")
        if (ifFavorite === 1) {
            addToFavoriteButton.className = "btn btn-outline-secondary me-2";
        } else {
            addToFavoriteButton.className = "btn btn-outline-danger me-2";
        }
    })
    .catch(error => {
        console.error('Fetch error:', error);
});
}

let feedbackPageIndex = 1;
function nextFeedbackPage() {
	if (feedbackPageIndex < 10) {
    	feedbackPageIndex += 1;
        paginationPageLabel.textContent = feedbackPageIndex;
    }
}

function previousFeedbackPage() {
	if (feedbackPageIndex > 1) {
    	feedbackPageIndex -= 1;
        paginationPageLabel.textContent = feedbackPageIndex;
    }
}
</script>
{% endblock %}
